.dart_tool/
.idea/
android/
assets/
build/
ios/
test/
web/
windows/

local.properties
pubspec.lock
todo_app.iml
analysis_options.yaml
.metadata
.packages
.flutter-plugins-dependencies
.flutter-plugins